[% WRAPPER _page_.tmpl
    title = translate("PearlPBX")
%]
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <img style="float: left; margin-right: 5px; margin-top: 5px;" width="40" src="/img/PearlPBX-logo.png"> 
          <a class="navbar-brand" href="/">PearlPBX</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- dropdown begins -->
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[% translate("Settings") %] <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/settings/sip">[% translate("SIP") %]</a></li>
              <li><a href="/settings/workgroups">[% translate("Workgroups") %]</a></li>
              <li><a href="/settings/trunkgroups">[% translate("Trunkgroups") %]</a></li>
	      <li><a href="/settings/calendar">[% translate("Calendar") %]</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/settings/routes">[% translate("Routes") %]</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/settings/numbers_manipulation">[% translate("Numbers manipulation") %]</a></li>
            </ul>
            </li>
            <!-- dropdown begins -->
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[% translate("Reports") %] <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/settings/sip">[% translate("Basic") %]</a></li>
              <li><a href="/settings/workgroups">[% translate("Workgroups") %]</a></li>
              <li><a href="/settings/trunkgroups">[% translate("Filter") %]</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/settings/routes">[% translate("Count of calls to external numbers") %]</a></li>
            </ul>
            </li>
            <!-- dropdown begins -->
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[% translate("Files") %] <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/settings/sip">[% translate("Music on hold") %]</a></li>
            </ul>
            </li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>

<div class="container">
Hello, PearlPBX!
<a href="/action/logout" class="btn">Log Out</a>
</div> <!-- /container -->

[% END %]


